:root {
    --mainFont: "Open Sans", sans-serif;
    --primary: #ff206e;
}

body {
    background-image: url('./../img/page-bg.jpg');
}
/*start navbar*/
.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item a.active {
    color: var(--primary);
}
/*end navbar*/

 /*start hero*/
.hero {
    background-image: url('./../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-weight: 800;
    font-size: 48px;
}

.primary-color {
    color: var(--primary);
}

.social .icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2e2e2e;
    transition: .8s;
}

.social .icon i {
    font-size: 15px;
}

.social .icon:hover {
    border: 1px solid #fff;
}
/*end hero*/

/*start about*/
.about-content h6 {
    font-weight: 600;
    font-size: 16px;
}

.about-content a {
    font-weight: 600;

}
/*end about*/

/*start portofolio*/
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    color: #f1f1f1;
    font-size: 80px;
    position: absolute;
    z-index: -1;
}
h2, h3 {
    font-weight: 800;
    margin-bottom: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    margin-top: 4px;
    display: block;
}

.portfolio .nav-tabs .nav-link {
    color: #000;
} 

.portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    color: var(--primary);
    border-color: transparent;
}


.portfolio .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.portfolio .nav-tabs {
    border-color: transparent;
}
/*end portfolio*/

/*start testimonials*/
.Testimonial img {
    width: 100px;
    height: 100px;
}

.Testimonials .carousel-indicators {
    bottom: -54px;
}

.carousel-indicators [data-bs-target] {
    background-color: #dbdbdb;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #000;
}
/*end testimonials*/